html{
    font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
}

h1, h2, h3, h4, h5, p, span{
    margin: 0;
    color: #666;
}
.container{
    max-width: 1090px;
    width: 100%;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}
nav::after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
#logo{
    width: auto;
    height: 50px;
    margin-top: 25px;
}
.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}
.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}
.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}
.nav-container li a:hover{
    color: rgb(134, 1, 1);
}