html{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(240, 229, 208)
}
body{
    margin: 0;
    margin-left: 15px;
    background-color: rgb(240, 229, 208);
}
.container{
    max-width: 1090px;
    width: 100%;
    background-color: rgb(240, 229, 208);
}
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
    background-color: rgb(240, 229, 208);
}
nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: rgb(240, 229, 208);
    border-bottom: 1px solid #020000;
}
nav::after{
    clear: both;
    content: "";
    display: block;
}
.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
#logo{
    width: auto;
    height: 50px;
    margin-top: 25px;
}
.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}
.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}
.nav-container li a{
    text-decoration: none;
    color: #000000;
    transition: .5s;
}
.nav-container li a:hover{
    color: rgb(134, 1, 1);
}
.titulo{
    margin-top: 115px;
}   
table, th, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
}
th, tr, td{
    text-align: center;
    padding: 0px 7px;
}
th{
    padding: 5;
}


select{
    background-color: rgb(240, 229, 208);
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    margin-bottom: 3px;
}